<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="denso_vp6242">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import denso_vp6242 urdf file -->
    <xacro:include filename="$(find denso_vp6242_description)/urdf/denso_vp6242.urdf.xacro" />

    <!-- Import control_xacro -->
    <xacro:include filename="denso_vp6242.ros2_control.xacro" />


    <xacro:denso_vp6242_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
