<launch>
    <arg name="block_model_filename" default="/home/kohama/Desktop/block_model/tile_test/test_plan0.txt"/>
    <arg name="block_model_type" default="kohama2019"/>
    <arg name="visualizer_spawn_scene_filename" default="$(find cartesian_robot_description)/config/block_printing.scene"/>
    <!--block printer with moveit-->
    <include file="$(find block_printer_moveit_interface)/launch/commander.launch">
        <arg name="block_model_filename" value="$(arg block_model_filename)"/>
        <arg name="block_model_type" value="$(arg block_model_type)"/>
        <arg name="pick_config" value="$(find cartesian_robot_description)/config/pick.yaml"/>
        <arg name="place_config" value="$(find cartesian_robot_description)/config/place.yaml"/>
        <arg name="robot_config" value="$(find cartesian_robot_description)/config/robot.yaml"/>
        <arg name="moveit_config" value="$(find cartesian_robot_description)/config/moveit.yaml"/>
        <arg name="visualizer_spawn_scene_filename" value="$(arg visualizer_spawn_scene_filename)"/>
    </include>
</launch>
